<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="b2c:Authority" value="https://login.microsoftonline.com/tenant.onmicrosoft.com"/>
	  <add key="b2c:Tenant" value="tenant.onmicrosoft.com"/>
    <add key="b2c:ClientId" value="cd56788c-1234-4e9e-bbeb-5d9975456705"/>
    <add key="b2c:ClientSecret" value="Gy6O.sustgd2_RApD5z-g3lH-6R4278qpe"/>        
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
